* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: white;
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    padding: 0px;
    outline: inherit;
    font: inherit;
    text-transform: inherit;
}


/* header  */
header {
    width: 15%;
    height: calc(100vh - 80px);
    padding-right: 20px;
    background-color: hsl(0, 0%, 0%);
    float: left;
    display: flex;
    flex-direction: column;
    color: gray;
}

/* logo header  */
.logo-spotify {
    width: 130px;
    margin-top: 18px;
    margin-left: 25px;
}

.header-elementi {
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}





/* menù sidebar con le icone  */
.menu-sidebar {
    margin-top: 25px;
}

.home {
    border-left: 3px solid hsl(84deg 100% 59%);
    color: white;
}

.fa-house, .fa-magnifying-glass, .fa-bars {
    font-size: 1.5em;
}

.home, .search, .libreria {
    margin-bottom: 15px;
    padding-left: 15px;
}

.libreria {
    display: flex;
    align-content: center;
}




/* menù PLAYLIST  */
.playlist {
    margin-top: 30px;
    padding-left: 15px;
    overflow-y: auto;
}

.playlist-titolo {
    text-transform: uppercase;
    color: white;
}

.crea-playlist {
    margin: 20px 0px;
    line-height: 35px;
}


.plus {
    display: inline-block;
    color: black;
    height: 35px;
    width: 35px;
    background-color: hsl(0deg 0% 64%);
    line-height: 35px;
    text-align: center;
    font-size: 1.5em;
    margin-right: 10px;
}

.overflow {
    overflow-y: auto;
}

.nome-playlist {
    list-style: none;
    overflow-y: auto;
}

.nome-playlist li {
    margin-bottom: 5px;
}





/* parte inferiore side bar  */
.sottoparte-sidebar {
    padding-left: 15px;
    padding-bottom: 10px;
}

.istalla-app {
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

.john-doe {
    padding-top: 15px;
    color: white;
}


/* effetti hover sidebar  */
.btn-sidebar:hover {
    color: white;
}

.btn-sidebar:hover .plus {
    background-color: white;
}




/* MAIN  */
main {
    width: 85%;
    height: calc(100vh - 80px);
    float: left;
    overflow-y: auto;
}


/* banner main  */
main .banner {
    width: 85%;
    height: 70px;
    background-color: hsl(222, 38.5%, 5.1%);
    opacity: 0.9;
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner .upgrade {
    text-transform: uppercase;
    margin-right: 20px;
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.upgrade:hover {
    transform: scale(1.1);
}




/* contenuto main  */
main .contenuto {
    margin-top: 70px;
    padding: 20px 20px;
    background-color: hsl(218.6, 25.9%, 10.6%);
}


/* nav  */
nav {
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav .lista-nav li {
    display: inline-block;
    margin: 0 8px;
    text-transform: uppercase;
    color: gray;
    font-weight: bold;
}

nav .lista-nav li:hover {
    color: white;
}

.relative {
    position: relative;
}

.barra {
    position: absolute;
    height: 2px;
    width: 30%;
    background-color: yellowgreen;
    left: 38px;
    margin-top: 5px;
}




/* recently played  */
.recently-played {
    margin-bottom: 50px;
}

.ascoltate-recente {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.card {
    margin-right: 15px;
    width: calc(100% / 6 - 15px);
    min-width: 170px;
    text-align: center;
    cursor: pointer;
}

.card .card-img {
    width: 100%;
}

.card .titolo-img {
    margin: 10px 0px;
}

.card .artista-img {
    color: gray;
}

.sottotitolo-creato-per {
    color: gray;
    font-size: 0.8em;
    margin: 10px 0px;
}

.rotonde {
    border-radius: 50%;
}

/* effetto hover card  */
.card:hover .card-img {
    filter: brightness(0.4);
}

.card:hover .box-card-img .play-hoverato {
    display: inline-block;
}

.box-card-img {
    position: relative;
}


.fa-circle-play.play-hoverato {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 3em;
}





/* FOOTER  */
footer {
    width: 100%;
    height: 80px;
    background-color: hsl(0, 0%, 15.7%);
    position: fixed;
    bottom: 0;
    z-index: 1;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.footer-parte-sinistra, .footer-parte-destra {
    width: 16%;
    height: 100%;
    display: flex;
    align-items: center;
}




/* parte sinistra  */
.brano-in-ascolto {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.brano-in-ascolto .img-brano {
    width: 20%;
}

.img-brano .img-brano-sinister {
    width: 48.2px;
}

.artista-brano {
    margin-left: 10px;
}

.artista-brano .sottotitolo-artista-brano {
    color: gray;
    font-size: 0.8em;
}

.brano-nome:hover {
    color: white;
    text-decoration: underline;
}

.icone-brano {
    color: gray;
    margin-left: 50px;
}

.fa-folder {
    margin-left: 15px;
}






/* parte centrale  */
.footer-parte-centrale {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}



.footer-parte-centrale .comandi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: auto;
    font-size: 1em;
}

.fa-circle-play {
    font-size: 2rem;
}

.scale:hover {
    transform: scale(1.1);
}


.footer-parte-centrale .durata-brano {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8em;
}


.durata-barra-lunga {
    width: 70%;
    height: 3px;
    background-color: gray;
    cursor: pointer;
}


.durata-barra-corta {
    width: 20%;
    height: 3px;
    background-color: white;
}


.durata-barra-lunga:hover .durata-barra-corta {
    background-color: yellowgreen;
}






/* parte destra  */
.fa-list-ul, .fa-tv, .fa-volume-high {
    margin-right: 20px;
    font-size: 0.8em;
}

.barra-lunga {
    width: 50%;
    height: 3px;
    background-color: gray;
    cursor: pointer;
}

.barra-corta {
    width: 20%;
    height: 3px;
    background-color: white;
}

.barra-lunga:hover .barra-corta {
    background-color: yellowgreen;
}