* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: white;
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    padding: 0px;
    outline: inherit;
    font: inherit;
    text-transform: inherit;
}

:root {
    --width-header: 240px;
}

/* header  */
header {
    width: var(--width-header);
    height: calc(100vh - 80px);
    padding-right: 20px;
    background-color: hsl(0, 0%, 0%);
    float: left;
    display: flex;
    flex-direction: column;
    color: gray;
}

/* logo header  */
.logo-spotify {
    width: 130px;
    margin-top: 18px;
    margin-left: 25px;
}

.logo-small {
    width: 32px;
    margin-top: 18px;
    margin-left: 15px;
    display: none;
}

.header-elementi {
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}





/* menù sidebar con le icone  */
.menu-sidebar {
    margin-top: 25px;
}

.home {
    border-left: 3px solid hsl(84deg 100% 59%);
    color: white;
}

.fa-house, .fa-magnifying-glass, .fa-bars {
    font-size: 1.5em;
}

.home, .search, .libreria {
    margin-bottom: 15px;
    padding-left: 15px;
}

.libreria {
    display: flex;
    align-content: center;
    border-left: 3px solid transparent;
}

.library-svg {
    opacity: 0.6;
}

.search {
    border-left: 3px solid transparent;

}




/* menù PLAYLIST  */
.playlist {
    margin-top: 30px;
    padding-left: 15px;
    border-left: 3px solid transparent;

}

.playlist-titolo {
    text-transform: uppercase;
    color: white;
}

.crea-playlist {
    margin: 20px 0px;
    line-height: 35px;
}


.plus {
    display: inline-block;
    color: black;
    height: 35px;
    width: 35px;
    background-color: hsl(0deg 0% 64%);
    line-height: 35px;
    text-align: center;
    font-size: 1.5em;
    margin-right: 10px;
}


.nome-playlist {
    list-style: none;
    overflow-y: auto;
    height: 29vh;
}

.nome-playlist li {
    margin-bottom: 5px;
}





/* parte inferiore side bar  */
.sottoparte-sidebar {
    padding-left: 15px;
    padding-bottom: 15px;
    border-left: 3px solid transparent;

}

.istalla-app {
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

.svg-user {
    background-color: gray;
    padding: 3px;
    border-radius: 50%;
}


.john-doe {
    padding-top: 15px;
    margin-bottom: 15px;
    color: white;
}


/* effetti hover sidebar  */
.btn-sidebar:hover {
    color: white;
}

.btn-sidebar:hover .library-svg {
    opacity: 1;
}

.btn-sidebar:hover .plus {
    background-color: white;
}




/* MAIN  */
main {
    width: calc(100% - var(--width-header));
    height: calc(100vh - 80px);
    float: left;
    overflow-y: auto;
}


/* banner main  */
main .banner {
    width: calc(100% - var(--width-header));
    height: 70px;
    background-color: hsl(222, 38.5%, 5.1%);
    opacity: 0.9;
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    animation-name: spostamento;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spostamento {
    25% {
        justify-content: center;
        align-items: flex-start;
    }

    50% {
        justify-content: flex-start;
        align-items: center;
        background-color: green;
    }

    75% {
        justify-content: center;
        align-items: flex-end;
    }
}

.banner .upgrade {
    text-transform: uppercase;
    margin-right: 20px;
    padding: 10px 25px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    animation-name: animazione-upgrade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes animazione-upgrade {
    25% {
        color: red;
        transform: scale(0.8);
    }

    50% {
        color: white;
        transform: scale(1.2);
    }

    75% {
        color: red;
        transform: scale(0.8);
    }
}


.upgrade:hover {
    transform: scale(1.1);
}




/* contenuto main  */
main .contenuto {
    margin-top: 70px;
    padding: 20px 20px;
    background-color: hsl(218.6, 25.9%, 10.6%);
}


/* nav  */
nav {
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav .lista-nav li {
    display: inline-block;
    margin: 10px 8px;
    text-transform: uppercase;
    color: gray;
    font-weight: bold;
}

.lista-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav .lista-nav li:hover {
    color: white;
}

.relative {
    position: relative;
}

.barra {
    position: absolute;
    height: 2px;
    width: 30%;
    background-color: yellowgreen;
    left: 38px;
    margin-top: 5px;
}




/* recently played  */
.recently-played {
    margin-top: 30px;
    margin-bottom: 50px;
}

.ascoltate-recente {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.card {
    margin-right: 15px;
    width: calc(100% / 6 - 15px);
    /* min-width: 150px; */
    text-align: center;
    cursor: pointer;
}

.card .card-img {
    width: 100%;
}

.card .titolo-img {
    margin: 10px 0px;
}

.card .artista-img {
    color: gray;
}

.sottotitolo-creato-per {
    color: gray;
    font-size: 0.8em;
    margin: 10px 0px;
}

.rotonde {
    border-radius: 50%;
}

/* effetto hover card  */
.card:hover .card-img {
    filter: brightness(0.4);
}

.card:hover .box-card-img .play-hoverato {
    display: inline-block;
}

.box-card-img {
    position: relative;
}


.fa-circle-play.play-hoverato {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 3em;
}





/* FOOTER  */
footer {
    width: 100%;
    height: 80px;
    background-color: hsl(0, 0%, 15.7%);
    position: fixed;
    bottom: 0;
    z-index: 1;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}




.footer-parte-sinistra, .footer-parte-destra {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-parte-centrale {
    width: 35%;
}




/* parte sinistra  */

.img-brano .img-brano-sinister {
    width: 48.2px;
    margin-right: 20px;
}

.artista-brano {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.artista-brano .sottotitolo-artista-brano {
    color: gray;
    font-size: 0.8em;
}

.brano-nome {
    min-width: 70px;
}

.brano-nome:hover {
    color: white;
    text-decoration: underline;
}

.icone-brano {
    color: gray;
    display: flex;
}

.fa-folder {
    margin-left: 15px;
}






/* parte centrale  */
.footer-parte-centrale {
    height: 100%;
    display: flex;
    flex-direction: column;
}



.footer-parte-centrale .comandi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: auto;
    font-size: 1em;
}

.fa-circle-play {
    font-size: 2rem;
}

.scale:hover {
    transform: scale(1.1);
}


.footer-parte-centrale .durata-brano {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}

.btn-track {
    margin-right: 5px;
}


.durata-barra-lunga {
    width: 80%;
    height: 3px;
    background-color: gray;
    cursor: pointer;
}


.durata-barra-corta {
    width: 20%;
    height: 3px;
    background-color: white;
    position: relative;
}

.pallino-bianco2 {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    left: 100%;
    top: -3px;
    display: none;
}

.durata-barra-lunga:hover .durata-barra-corta {
    background-color: yellowgreen;
}

.durata-barra-lunga:hover .pallino-bianco2 {
    display: inline-block;
}

.momento-brano {
    margin-right: 10px;
}

.durata-totale-brano {
    margin-left: 10px;
}





/* parte destra  */
.fa-list-ul, .fa-tv, .fa-volume-high {
    margin-right: 20px;
    font-size: 0.8em;
}

.barra-lunga {
    width: 100px;
    height: 3px;
    background-color: gray;
    cursor: pointer;
}

.barra-corta {
    width: 20%;
    height: 3px;
    background-color: white;
    position: relative;
}

.pallino-bianco {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    left: 100%;
    top: -3px;
    display: none;
}

.barra-lunga:hover .barra-corta {
    background-color: yellowgreen;
}

.barra-lunga:hover .pallino-bianco {
    display: inline-block;
}








/* MEDIA QUERIES */

/* large  */
@media screen and (max-width:879px) {

    .card {
        width: calc(100% / 4 - 15px);
        margin-bottom: 15px;
    }


    nav .lista-nav li {
        margin: 10px 8px;
    }

    .recently-played {
        margin-top: 50px;
    }


}





/* medium  */
@media screen and (max-width:792px) {

    .img-brano .img-brano-sinister {
        margin-right: 0px;
    }

    /* .pallino-bianco2 {
        left: 5px;
    }

    .pallino-bianco {
        left: 5px;
    } */

}





/* small  */
@media screen and (max-width:640px) {
    .card {
        width: calc(100% / 2 - 15px);
        margin-bottom: 15px;
    }

    nav .lista-nav li {
        margin: 10px 8px;
        line-height: 40px;
    }

    .recently-played {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    nav {
        margin-bottom: 140px;
    }

    .barra {
        margin-top: -10px;
    }

    .fa-list-ul, .fa-tv, .fa-volume-high {
        margin-right: 5px;

    }

}








/* extra small  */
@media screen and (max-width: 552px) {

    :root {
        --width-header: 60px;
    }

    .recently-played {
        margin-top: -40px;
    }

    header {
        overflow: hidden;
        max-width: 65px;
        padding-right: 0px;
    }

    .hidden {
        display: none;
    }

    .none {
        display: none;
    }

    .logo-small {
        display: inline-block;
        margin-left: 13px;
    }

    .home {
        border-left: 0px;
    }

    .istalla-app {
        padding-bottom: 15px;
        padding-left: 5px;
        border-bottom: 0px;
    }

    .footer-parte-sinistra, .footer-parte-destra {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
    }

    .footer-parte-centrale {
        margin-left: 28px;
    }

    .footer-parte-sinistra {
        margin-left: -10px;
    }

    .footer-parte-destra {
        flex-direction: column;
    }

    .footer-parte-centrale .comandi {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        font-size: 1em;
        margin-left: 30px;
    }

    .icone-brano {
        margin-left: -15px;
        flex-direction: column;
    }

    .artista-brano {
        margin-left: 6px;
    }

    .fa-folder {
        margin-left: 2px;
    }
}